.header {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  z-index: 1;
  overflow: hidden; }

.logo {
  padding-top: 10px; }

.nav-list {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 20px; }
  @media (max-width: 767px) {
    .nav-list {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 4%;
      left: 35%; } }

.nav-list li {
  padding: 0 10px; }
  @media (max-width: 767px) {
    .nav-list li {
      padding: 10px 0; } }

.nav-list li a {
  color: #fff; }

.nav-list li a:hover {
  color: #d3d3d3; }

.log {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-top: 18px; }

.log:hover {
  opacity: 0.8; }

.log a {
  color: #fff; }

.login {
  border: 1px solid #fff;
  padding: 4px 15px;
  border-radius: 5px; }

@media (max-width: 767px) {
  .show {
    top: 9%;
    left: 84%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50px; } }

@media (max-width: 767px) {
  .show:before,
  .show:after,
  .show div {
    background: #fff;
    content: "";
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s; } }

@media (max-width: 767px) {
  .show:hover::before {
    transform: translateY(12px) rotate(135deg); } }

@media (max-width: 767px) {
  .show:hover::after {
    transform: translateY(-12px) rotate(-135deg); } }

@media (max-width: 767px) {
  .show:hover div {
    transform: scale(0); } }

.show:hover ~ .nav-list {
  display: block; }

.main {
  flex-grow: 1; }

.intro {
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(../images/rectangle.jpg);
  background-size: cover;
  min-height: 100vh;
  margin-top: -57px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  @media (max-width: 767px) {
    .intro {
      margin-top: -72px; } }

.intro h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 72px;
  padding-bottom: 40px;
  text-transform: uppercase; }
  @media (min-width: 767px) and (max-width: 1024px) {
    .intro h1 {
      font-size: 50px; } }
  @media (max-width: 767px) {
    .intro h1 {
      font-size: 32px; } }

.intro p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 24px;
  max-width: 450px;
  margin: 0 auto;
  padding-bottom: 40px; }

.sign-upbtn a {
  color: #ed4c5c; }

.sign-upbtn {
  position: relative;
  width: 120px;
  height: 40px;
  background: #fff;
  border-radius: 6px;
  margin: auto; }

.sign-upbtn:hover {
  opacity: 0.8; }

.sign-up {
  text-transform: uppercase;
  position: absolute;
  left: 26%;
  top: 34%;
  text-align: center;
  vertical-align: middle; }

.head {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #000;
  padding: 60px; }

.features {
  background: #fafafa; }

.features_main {
  display: flex;
  justify-content: center;
  padding: 0 0 110px 0; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .features_main {
      padding: 0px;
      display: flex;
      flex-wrap: wrap; } }
  @media (max-width: 767px) {
    .features_main {
      flex-direction: column;
      padding: 0px; } }

.features_main img {
  padding: 20px; }

.box-text {
  text-align: center;
  color: #000;
  background: #fff;
  position: relative;
  z-index: 1;
  margin: -105px auto;
  max-width: 270px;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 0 20px rgba(46, 45, 45, 0.5); }

.box-text h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 0; }

.box-text p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 20px 0; }

.box-text a {
  color: #ED4C5C;
  font-size: 12px; }

.box-text a:hover {
  color: #ff0800; }

.technology {
  padding: 100px 0; }

.technology-main {
  display: flex;
  justify-content: center; }
  @media (max-width: 767px) {
    .technology-main {
      flex-direction: column; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .technology-main {
      flex-wrap: wrap; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .main-box {
    width: 50%;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column; } }
@media (max-width: 767px) {
  .main-box {
    justify-content: center; } }

@media (max-width: 767px) {
  #box {
    padding: 120px 0; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .main-num {
    display: flex;
    justify-content: center;
    width: 50%;
    flex-wrap: wrap; } }
@media (max-width: 767px) {
  .main-num {
    display: flex;
    justify-content: center; } }

.num {
  display: flex;
  flex-direction: column; }

.number {
  font-size: 100px;
  padding: 0 69px; }

.num img {
  margin: -60px 0 0 60px;
  width: 50%;
  height: 86px; }

.num h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  text-align: center;
  padding: 10px; }

.num p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  max-width: 200px;
  margin: auto;
  text-align: center; }

.footer {
  padding: 120px 0 0 0; }

.center {
  display: flex;
  justify-content: center; }
  @media (max-width: 767px) {
    .center {
      flex-direction: column;
      justify-content: center;
      text-align: center; } }

.info {
  padding: 46px; }
  @media (max-width: 767px) {
    .info {
      padding: 25px; } }

.info h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #000;
  font-size: 18px;
  padding-bottom: 20px; }

.info p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  max-width: 200px;
  color: #000;
  line-height: 1.5em; }
  @media (max-width: 767px) {
    .info p {
      max-width: none; } }

.info a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #000; }

.info a:hover {
  color: #3f3f3f; }

.serv {
  display: block;
  line-height: 1.5em; }

@media (max-width: 767px) {
  .icons {
    justify-content: center; } }

.fab {
  padding: 20px 0; }

.fa-linkedin-in {
  padding: 20px 10px; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font: 14px/1.2 "Arial", "Helvetica", sans-serif;
  color: #999;
  background: #fff;
  margin: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }
  @media (max-width: 767px) {
    img {
      display: flex;
      margin: 0 auto; } }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

ul {
  list-style-type: none;
  display: flex; }

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px; }

/*# sourceMappingURL=style.css.map */
